* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  font-family: "Segoe UI";
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.app {
  width: 100%;
  min-height: 100vh;

  padding: 40px 48px;

  max-width: none;
}

body {
  background: #f3f3f3;
  font-family: "Segoe UI";
}

body:has(.dark) {
  background: #111827;
}


h1 {
  margin-bottom: 30px;
  color: #222;
}

.input-box {
  background: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,.08);
}

input,
textarea {
  width: 100%;
  padding: 14px;
  border: none;
  background: #f6f6f6;
  border-radius: 10px;
  margin-bottom: 12px;
}

textarea {
  min-height: 120px;
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.save-btn {
  background: #0078d4;
  color: white;
}

.edit-btn {
  background: #ffd54f;
}

.delete-btn {
  background: #ff5252;
  color: white;
}

.notes-grid {
  margin-top: 25px;

  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(420px, 1fr));

  gap: 24px;
}
.note {
  background: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 10px 20px rgba(0,0,0,.06);
}

.note p {
  margin-top: 10px;
}

.actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.dark {
  width: 100%;
  min-height: 100vh;
  color: white;
}

.dark .input-box,
.dark .note {
  background: #1f2937;
}

.dark input,
.dark textarea {
  background: #374151;
  color: white;
}

.dark h1,
.dark h3 {
  color: white;
}

.mode-btn {
  margin-bottom: 20px;
  background: black;
  color: white;
}